li {
    margin-left: 12.6px;
}

.ui-grid-row img {
    height: 200px;

    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
  }

  .ui-grid-row img:hover {
    opacity: 0.3;
  }