<div class="ui-inputgroup">
  <button id="myBtn" pButton (click)="searchMovie(in1.value)" type="button" label="Zoek"></button>
  <input id="myInput" #in1 type="text" pInputText placeholder="Geef film" value="Star Wars" (keyup.enter)="searchMovie(in1.value)" autofocus>
</div>

<div class="p-grid">
  <div class="p-col" *ngFor="let movie of movieList; let i=index">
    <p>{{movie.title}}</p>
    <img [src]="posterList[i]" (click)="getMovieId(i)" onmouseover="" style="cursor: pointer" [routerLink]="['/info']">
  </div>
</div>
